<wishlistheader></wishlistheader>
<div class="container col-lg-12">
    <h1 class="text-center">Welcome To Your WishList</h1>
    <ul class="list-inline text-center">
        <li>
            <a href="/#/wishes" style="height:100px; padding-top:40px;" class="btn btn-info btn-lg text-center">View Wishlist</a>
        </li>
        <li>
            <a href="/#/wish" style="height:100px; padding-top:40px;" class="btn btn-info btn-lg text-center">Add A New Wish</a>
        </li>
    </ul>
    <br>
    <ul class="list-inline text-center">
        <li>
            <a href="/#/user" style="height:100px; padding-top:40px;" class="btn btn-info btn-lg text-center">View Your Profile</a>
        </li>
        <li>
            <a href="/#/users" style="height:100px; padding-top:40px;" class="btn btn-info btn-lg text-center" role="button">View All Users</a>
        </li>
    </ul>
</div>
