<!-- extend base layout -->
{% extends "base.html" %}

{% block js %}

 
{% endblock %}

{% block main %}
<div class="container" ng-controller="LoginController">
    <h1>Sign In</h1>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }} </p>
  {% endif %} 
   
    <form actions="{{ url_for('login') }}" method="post" name="login">
        <dl> 
    <dt>Username: </dt>
    <dd>{{ form.username}}</dd> 
    <dt>Password: 
    <dd>{{ form.password}}</dd>
    <dd><input type="submit" value="Sign in"> </dd>
</dl>
        
    </form>
</div>
{% endblock %}
