<div class="container col-lg-12">
<nav class="navbar navbar">
    <ul class="nav navbar-nav nav-pills pull-left">
        <li role="presentation">
            <a href="#/home">Home</a>
        </li>
        <li role="presentation">
            <a href="#/wishes">View Wishes</a>
        </li>
        <li role="presentation">
            <a href="#/wish">New Wish</a>
        </li>
    </ul> 
    <ul class="nav navbar-nav nav-pills pull-right">
        <li role="presentation">
            <a href="#/user">View User</a>
        </li>
        <li role="presentation">
            <a href="#/users">View All Users</a>
        </li>
        <li role="presentation" ng-controller="LogoutController">
            <a href="" ng-click="logout()">Logout</a>
        </li>
    </ul>
</nav>
</div>
