{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<form action="{{ url_for('profile_add') }}" method="post">
       <dl>
      
       <dt>First name:</dt> <dd>{{ form.first_name }}</dd>
       <dt>Last name:</dt> <dd>{{ form.last_name }}</dd>
       <dt>Nick name:</dt><dd> {{ form.nick_name }}</dd>
      <dt>Email:</dt><dd> {{ form.email_name}}</dd>
      <dt>Password:</dt><dd> {{ form.password_name }}</dd>
       <dd><input type="submit" />   </dd>             
</dl>
</form> 
{% endblock %}
